<div class="login-container">
<mat-card class="login-card">
  <mat-card-title class="title">Login</mat-card-title>
  <mat-divider class="divider"></mat-divider>
  <div class="input-container">


    <mat-form-field class="input-field">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Password</mat-label>
      <input matInput >
    </mat-form-field>
    <button mat-flat-button class="login-button" (click)="routeToLayout()" >Login</button>
    <a href="" class="link">Register</a>
  </div>


</mat-card> 
</div>
