.login-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    width: 40%;
}

.input-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider{
    margin-left: 16px;
    max-width: 40%;
}

.title{
    margin: 32px 0px 0px 16px;
}

.input-field{
    width: 80%;
}

.link{
    margin-top: 16px;
}

.login-button{
    width: 30%;
}
