.invoiceNumber:hover {
  color: var(--dark-blue-color);
  cursor: pointer;
  text-decoration: underline;
}

.center-row {
  text-align: center;
}

.paymentStatus-container {
  display: flex;
  flex-direction: row;
}

.paymentStatus-changed {
  color: green;
}

.paymentStatus {
  line-height: 0.5em;
  display: inline-flex;
  align-items: center;
}

.background-white {
  background-color: white;
}
