.invoiceNumber:hover {
  color: var(--dark-blue-color);
  cursor: pointer;
  text-decoration: underline;
}

.center-row {
  text-align: center;
}

.paymentStatus-container {
  display: flex;
  flex-direction: row;
}

.paymentStatus-changed {
  padding-top: 10px;
  color: green;
}

.paymentStatus-unchanged {
  padding-top: 10px;
}

.paymentStatus-options-button {
  margin-left: auto;
}

.background-white {
  background-color: white;
}
