.receivables-container {
  margin: 0 1rem 0 1rem;
}

.statistics-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 30vh;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem
}

.paid-statistics {
  display: flex;
  min-width: 55%;
  max-width: 60%;
  flex-grow: 1;
}

.unpaid-statistics {
  display: flex;
  min-width: 40%;
  max-width: 45%;
  flex-grow: 1;
}

.searchbar {
  min-width: 40%;
  margin-top: 20px;
}

.transaction-table-container {
  margin-top: 24px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.grid-list {
  gap: 0;
}

.paymentStatus-container {
  display: flex;
  flex-direction: row;
}

.paymentStatus-changed {
  padding-top: 10px;
  color: green;
}

.paymentStatus-unchanged {
  padding-top: 10px;
}

.paymentStatus-options-button {
  margin-left: auto;
}

.background-white {
  background-color: white;
}

.center-row {
  text-align: center;
}

.buttons {
  min-width: 150px;
  margin-top: 2em;
  margin-left: auto;
}

.apply-changes-button-container {
  display: flex;
}

/* Materials */
.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

@media (max-width: 85em) {
  .paid-statistics {
    min-width: 98%;
    max-width: 100%;
  }

  .unpaid-statistics {
    margin-bottom: 2em;
    min-width: 100%;
    max-width: 100%;
  }
}
