<div class="creation-container">
  <h1>{{ 'CreateOrder' | translate }}</h1>
  <div class="card">
    <mat-card-content>
      <form class="order-content" [formGroup]="orderForm">
        <mat-form-field class="order-field">
          <mat-select placeholder="{{ 'ProduktInputField' | translate }}" formControlName="product">
            @for (product of products$ | async; track product) {
              <mat-option [value]="product">{{ product.name }} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="order-field">
          <input
            matInput
            placeholder="{{ 'AmountInputField' | translate }}"
            formControlName="amount"
            type="number"
            value="number"
            min="1"
            pattern="\d*"
          />
        </mat-form-field>
        <mat-form-field class="order-field" id="order-year">
          <input
            placeholder="{{ 'YearInputField' | translate }}"
            matInput
            readonly
            [matDatepickerFilter]="datePickerFilter"
            [matDatepicker]="dp"
            formControlName="date"
          />
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="setYear($event, dp)" panelClass="year-picker"> </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="order-field" id="order-week">
          <mat-select placeholder="{{ 'WeekInputField' | translate }}" formControlName="selectedCalendarWeek">
            @for (week of allCalendarWeeks; track week) {
              <mat-option [value]="week">{{ 'CalenderWeek' | translate }} {{ week }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="order-field">
          <button class="create-button" (click)="createOrder()" mat-flat-button [disabled]="!orderForm.valid">
            {{ 'Create' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>

  <!-- Offers -->
  <div class="card offer-container" *ngIf="openOffers">
    <div class="offers-header">
      <h1 class="title">{{ 'Offers' | translate }}</h1>
      <div class="deadline">
        <p>{{ 'TimerText' | translate }}</p>
        <countdown [config]="countdownConfig" (event)="onEvent($event)"></countdown>
      </div>
    </div>
    <div class="offers-container">
      @for (offer of offers$ | async; track $index) {
        <div class="card offers">
          <div class="offerIdAndDate">
            <p id="offerId" class="grey">ID {{ offer.id }}</p>
            <p id="offerDate" class="grey">{{ 'WeekInputField' | translate }}: {{ offer.creationDate | date }}</p>
          </div>
          <p id="offerName">{{ orderForm.get('product')?.value.name }}</p>
          <p id="offerAmount">{{ 'AmountInputField' | translate }}: {{ orderForm.get('amount')?.value }}</p>
          <div class="offerPrice">
            <img ngSrc="assets/icons/price.svg" alt="Icon" height="20" width="20" />
            <p>{{ offer.price | number: '1.2-2' }}</p>
          </div>
          <div class="button-container">
            <button mat-flat-button class="accept-button" (click)="acceptOffer(offer.id)">{{ 'AcceptOffer' | translate }}</button>
          </div>
        </div>
      }
    </div>
    <div class="button-container">
      <button mat-flat-button class="decline-button" (click)="declineAllOffers(); navigateToOrders()">
        {{ 'DeclineAllOffers' | translate }}
      </button>
    </div>
  </div>
</div>
