.download-invoice-container {
  padding:  1em;
  height: 90vh;
}

.file-container {
  height: calc(100% - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pdf-object {
  overflow: auto;
  min-height: 75vh;
  min-width: 40vw;
}

.button-container {
  position: absolute;
  bottom: 30px;
  width: 95%;
  display: flex;
  justify-content: center;
}

#close {
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 1em;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

