.wallet-container {
  margin: 0rem 1rem 0rem 1rem;
}

.tile {
  border: 1px solid grey;
  box-sizing: border-box;
}

.statistics-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 30vh;
}

.paid-statistics {
  display: flex;
  min-width: 55%;
  max-width: 60%;
  flex-grow: 1;
}

.unpaid-statistics {
  display: flex;
  min-width: 40%;
  max-width: 45%;
  flex-grow: 1;
}

.searchbar {
  min-width: 40%;
  margin-top: 20px;
}

.transaction-table-container {
  margin-top: 24px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Materials */
.mat-mdc-card-content:first-child {
  padding-top: 0px;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.transaction-table-container {
  margin-top: 24px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.grid-list {
  gap: 0;
}

.tile {
  border: 1px solid grey;
  box-sizing: border-box;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

.background-white {
  background-color: white;
}

.center-row {
  text-align: center;
}

.download-button {
  min-width: 150px;
  margin-top: 2em;
}
