<div class="wallet-container">
  <h1>Wallet</h1>
  <mat-divider></mat-divider>
  <mat-card appearance="outlined" class="details-card">
    <div class="details-content">
      <mat-card-title>Transactions</mat-card-title>
      <div class="transaction-table-container">
        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="0" >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="tile">Quantity</mat-grid-tile>
          <mat-grid-tile class="tile">Volume</mat-grid-tile>
          <mat-grid-tile class="tile">Pending</mat-grid-tile>
          <mat-grid-tile class="tile">5</mat-grid-tile>
          <mat-grid-tile class="tile">6</mat-grid-tile>
          <mat-grid-tile class="tile">Overdue</mat-grid-tile>
          <mat-grid-tile class="tile">8</mat-grid-tile>
          <mat-grid-tile class="tile">9</mat-grid-tile>
        </mat-grid-list>
      </div>
  </div>
  </mat-card>

  <h1>NFT-Details</h1>
  <mat-divider></mat-divider>

  <div class="searchbar-container">
    <mat-form-field class="searchbar">
      <img matIconPrefix src="assets/icons/search.svg" alt="Icon">
          <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
      </div>
        <div class="table-container">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="nftDatasource" matSort>
              <ng-container matColumnDef="invoiceNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceNo </th>
                <td mat-cell *matCellDef="let row"> {{row.invoiceNo}} </td>
              </ng-container>
              <ng-container matColumnDef="payee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payee </th>
                <td mat-cell *matCellDef="let row"> {{row.payee}}% </td>
              </ng-container>
              <ng-container matColumnDef="invoiceAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceAmount </th>
                <td mat-cell *matCellDef="let row"> {{row.invoiceAmount}} </td>
              </ng-container>
              <ng-container matColumnDef="invoiceDueDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceDueDate </th>
                <td mat-cell *matCellDef="let row"> {{row.invoiceDueDate}} </td>
              </ng-container>
        
              <ng-container matColumnDef="payer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payer </th>
                <td mat-cell *matCellDef="let row"> {{row.payer}}% </td>
              </ng-container>
              <ng-container matColumnDef="financialStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FinancialStatus </th>
                <td mat-cell *matCellDef="let row"> {{row.financialStatus}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedNFTColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedNFTColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
</div>
  