<div class="filter-container">
  <div [formGroup]="filterFormGroup" class="content">
    <div class="header">
      <span mat-icon class="material-symbols-outlined"> filter_alt </span>
      <h2>{{ 'Filter.Title' | translate }}</h2>
    </div>
    @if (authService.isCustomer() || authService.isOperator()) {
      <div class="filter-option">
        <h3>{{ 'Filter.Payee' | translate }}</h3>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            formControlName="payee"
            [matAutocomplete]="payee"
            placeholder="{{ 'Filter.ExampleCompany' | translate }}"
          />
          <mat-autocomplete #payee="matAutocomplete" [displayWith]="displayCompanies">
            @for (company of filteredPayeeOptions | async; track company) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    }
    @if (authService.isContributor() || authService.isOperator()) {
      <div class="filter-option">
        <h3>{{ 'Filter.Payer' | translate }}</h3>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            formControlName="payer"
            [matAutocomplete]="payer"
            placeholder="{{ 'Filter.ExampleCompany' | translate }}"
          />
          <mat-autocomplete #payer="matAutocomplete" [displayWith]="displayCompanies">
            @for (company of filteredPayerOptions | async; track company) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    }
    <div formGroupName="dateRange" class="filter-option">
      <h3>{{ 'Filter.Date' | translate }}</h3>
      <mat-form-field appearance="outline">
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="start" matStartDate placeholder="{{ 'Filter.ExampleStartDate' | translate }}" />
          <input formControlName="end" matEndDate placeholder="{{ 'Filter.ExampleEndDate' | translate }}" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="filter-option">
      <h3>{{ 'Filter.FinancialStatus' | translate }}</h3>
      <div class="financial-states-container">
        @for (state of paymentStates; track state) {
          <mat-checkbox (change)="onCheckBoxChange(state)" [checked]="isCheckBoxChecked(state)">
            {{ 'PaymentStatus.' + state | translate }}
          </mat-checkbox>
        }
      </div>
    </div>
    <div class="button-container">
      <button mat-flat-button (click)="resetFormGroup()">{{ 'Buttons.Reset' | translate }}</button>
      <button mat-flat-button (click)="onSaveClick()">{{ 'Buttons.Save' | translate }}</button>
    </div>
  </div>
</div>
