<div class="filter-container">
  <div class="content">
    <div class="header">
      <span mat-icon class="material-symbols-outlined"> filter_alt </span>
      <h2>{{ 'Filter.Title' | translate }}</h2>
    </div>
    @if (authService.isCustomer() || authService.isOperator()) {
      <app-autocomplete-company-filter
        [inputConfig]="creditorAutocompleteFilterConfig"
        (selectedCompany)="listenToCreditorFilter($event)"
        [resetEventEmitter]="resetEventEmitter"
      ></app-autocomplete-company-filter>
    }
    @if (authService.isContributor() || authService.isOperator()) {
      <app-autocomplete-company-filter
        [inputConfig]="debtorAutocompleteFilterConfig"
        (selectedCompany)="listenToDebtorFilter($event)"
        [resetEventEmitter]="resetEventEmitter"
      ></app-autocomplete-company-filter>
    }
    <app-date-range-filter
      [inputConfig]="dateRangeFilterConfig"
      (dueDateToOutput)="listenToDueDateToFilter($event)"
      (dueDateFromOutput)="listenToDueDateFromFilter($event)"
      [resetEventEmitter]="resetEventEmitter"
    ></app-date-range-filter>
    <app-checkbox-filter
      [inputConfig]="paymentStatesCheckboxFilterConfig"
      [possibleStatesInput]="possibleStates"
      (selectedStatesOutput)="listenToPaymentstatesFilter($event)"
      [resetEventEmitter]="resetEventEmitter"
    ></app-checkbox-filter>

    <div class="button-container">
      <button mat-flat-button (click)="reset()">{{ 'Buttons.Reset' | translate }}</button>
      <button mat-flat-button (click)="save()">{{ 'Buttons.Save' | translate }}</button>
    </div>
  </div>
</div>
