.unpaid-statistics-wrapper {
  display: flex;
  width: 95%;
  flex-direction: column;
}

.unpaid-statistics {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.data-row-host {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.data-row {
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.data-title-row {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.column-and-items-host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-and-items {
  margin-left: auto;
}

.unpaid-statistics-column-title {
  word-wrap: break-word;
}

.text-data {
  font-size: medium;
}

mat-divider {
  border-top-color: greyisch;
}
